@media only screen and ( max-width:1200px ){
	.nav-menu li em{
		margin: 0 10px;
	}
	.wrap-menu .left {
		min-width: 38%;
	}	
}


@media only screen and ( max-width:1100px ){
	.we_buying ul li a h4{
		font-size: 16px;
		max-width: 68%;
	}
	.items_geo li .image img {
		transform: scale(0.75);
		-moz-transform: scale(0.75);
		-webkit-transform: scale(0.75);		
	}	
	.geo .right .item span{
		font-size: 45px;
		line-height: 40px;
		width: 55px;
		margin-right: 20px;
		padding-bottom: 60px;
	}
	.geo .right .item p{
		font-size: 18px;
	}	
	.wrap-menu .left h5{
		display: none;
	}	
	.wrap-menu .left {
		min-width: auto;
	}
	
	/*********************/
	.work_inner .items_buy{
		min-width: 170px;
	}
	.work_inner .items_buy li{
		min-height: 80px;
	}
	.work_inner .items_buy li a{
		min-height: 80px;
		line-height: 80px; 
		padding: 0 10px 0 0px;
	}
	.work_inner .items_buy li a h4{
		font-size: 16px;
		max-width: 65%;
	}
	.work_inner .items_buy li a img{
		transform: scale(0.9);
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	.work_inner .items_buy li a .image{
		width: 50px;
		margin-right: 6px;
	}	
	.items_tovar li .title span{
		font-size: 16px;	
	}
	.items_tovar li .column{
		padding: 20px 15px;
	}
	.items_tovar  .column h4{
		font-size: 30px;
	}
	.items_tovar  .column h5{
	}	
	.your_cost{
		margin:30px auto 60px;
		padding: 60px;
	}
	.your_cost h3{
		font-size: 30px;
	}
	.your_cost a{
		width: 215px;
		height: 45px;
		font-size: 13px;
		line-height: 45px;
	}	
}

@media only screen and ( max-width:1030px ){
	.we_buying ul li{
		width: 33.33%;
	}
	.we_buying ul li:nth-child(3n){
		border-right: 0!important;
	}	
	.we_buying ul li:nth-child(4n){
		border-right: 1px solid #d9d9d9;
	}	
	.we_buying ul li img{
		transform: scale(0.9);
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	.we_buying li a .image{
		width: 50px;
		margin-right: 6px;
	}	
	.we_buying ul li a h4{
		font-size: 16px;
		max-width: 62%;
	}
	/*****************************/
	ul.nav_footer {
		margin-left: 14%;
	}	
	.bottom_footer .item {
		margin-bottom: 20px;
	}
}

@media only screen and ( max-width:900px ){
	.work_inner .items_buy{
		max-width: 30%;
		min-width: 200px;
		width: 100%;
	}
	/*****************/
	.work_inner  .items_tovar{
		max-width: 70%;
	}
	.work_inner  .items_tovar li{
		display: inline-block;
		width: 50%;
		cursor: pointer;
	}
	
	.items_tovar li:nth-child(2n) {
		border-right: 1px solid #e6e6e6;	
	}
	.items_tovar li:nth-child(6n) {
		border-right: 0px solid #e6e6e6;	
	}	
	
}


@media only screen and ( max-width:850px ){
	.image_header{
		height: 80px;
	}
	.wrap-menu .nav-menu{
		position: absolute;
		left: 0;
		top: 100%;
		right: 0;
		padding-top: 15px;
		background: rgba(0,0,0,.55); 
		display: none;
		z-index: 9999;
	}
	.middle-container.active .wrap-menu{
		min-height: 70px;
		line-height: 70px;
	}
	.wrap-menu {
		min-height: 80px;
		padding: 0 20px;
		line-height: 80px;
	}
	.middle-container.active .nav-menu{
		background: rgba(0,0,0,.8);
	}
	.wrap-menu .nav-menu li{
		display: block;
		text-align-last: left;
		-moz-text-align-last: left;
		line-height: normal;
		margin-bottom: 15px;
	}
	.wrap-menu .nav-menu li a{
		margin-left: 20px;
 
	}
	.wrap-menu .nav-menu li em{
		display: none;
	}
	.button_menu_top{
		display: inline-block;
	}
	.wrap-menu .nav-menu.active{
		
	}
	/***********************/
	.items_geo li{
		display: inline-block;
		width: 50%;
		vertical-align: top;
		margin-bottom: 30px;
	}
	.items_geo li:nth-child(1) .image,
	.items_geo li:nth-child(2) .image,
	.items_geo li:nth-child(3) .image{
		height: 60px; 
		line-height: 70px;
	}
	.items_geo li .image{
		height: 60px; 
		line-height: 80px;
	}
	.items_geo{
		max-width: 60%;	
	}	
	.geo .right{
		display: inline-block;
		vertical-align: top;
		width: 37%;
		margin-left: 3%;
	}	
	.geo .right .item p{
		font-size: 16px;
		color: #111;
		font-family: "ProximaNovaReg";	
		max-width: 100%;
	}
	.geo .right .item span{
		padding-bottom: 75px;
	}
	.items_geo li h4{
		font-size: 16px;
	}
	.geo .right .item {
		min-height: 120px;
	}	
	.geo .button-wraper{
		margin: 15px 0;
	}	
	/**********************/
	.list-news li{
		width: 100%;
		margin-right: 0%;
		max-height: 350px;
		margin-bottom: 20px;
	}
	.list-news li .date{
		font-size: 1.6vw;
	}
	.list-news .wrap-info{
		left: 5vw;
		right: 3%;
		bottom: 4vw;
	}
	.list-news li h3{
		font-size: 4vw;
		margin: 3vw 0;

		line-height: 5vw;
	}
	.list-news li h4{
		font-size: 2.8vw;
		margin-bottom: 3vw;
	} 
	.list-news li .new{
		font-size: 2.2vw;
	}
	.list-news li .new em{
		font-size: 2.3vw;
	}
	.list-news .wrap-see .see{
		font-size: 2vw;
		margin-left: 5px;
	}	
	ul.nav_footer {
		 margin-left: 0%;
			display: block;
			margin-top: 20px;
	}	
	/****************************/
	.top-slider  .content{
		width: 100%;
		margin-top: 100px;
		position: relative;
		z-index: 1000;
		padding-top:100px;
	}
	.top-slider  .content h1{
		font-size: 28px;
		padding: 0 30px;
	}
	.top-slider  .content p{
		font-size: 16px;
		padding: 0 50px; 
		margin:42px auto 0;
	}
	.top-slider  .content a{
		max-width: 225px;
		height: 45px;
		font-size: 14px;
		line-height: 45px;
	}
	.top-slider  .slick-slide{
		min-height: 570px;
	}
	.your_cost{
		padding:50px 40px;
	}	
}

@media only screen and ( max-width:750px ){
	.work_inner .items_buy{
		max-width: 38%;
		min-width: 160px;
	}
	/*****************/
	.work_inner  .items_tovar{
		max-width: 62%;
	}
	.work_inner  .items_tovar li{
		width: 100%;
	}	
	.items_tovar li:nth-child(2n) .info_tovar{
		border-left: 1px solid #e6e6e6;	
	}	
	.work_inner .items_buy li a .image{
		display: none;
	}	
	.work_inner .items_buy li a{
		min-height: 80px;
		line-height: 80px; 
		padding: 0 10px 0 10px;
	}	
}

@media only screen and ( max-width:720px ){
	.your_cost p{
		width: 100%;
		margin-bottom: 25px;
	}	
	.items_geo{
		max-width: 100%;	
	}	
	.geo .right{
		width: 100%;
		margin-left: 0%;
		margin: 15px 0;
	}	
	.geo .right .item span{
		padding-bottom: 30px;
	}
	.items_geo li h4{
		font-size: 16px;
	}
	.geo .right .item {
		min-height: 30px;
		margin-bottom: 10px;
	}		
	/*******************/
	.we_buying ul li{
		width: 50%;
	}
	.we_buying ul li:nth-child(3n),	
	.we_buying ul li:nth-child(4n){
		border-right: 1px solid #d9d9d9!important;
	}	
	.we_buying ul li:nth-child(2n){
		border-right: 0!important;
	}		
	.we_buying li a .image{
		width: 50px;
		margin-right: 6px;
	}	
	.we_buying ul li a h4{
		font-size: 15px;
		max-width: 62%;
	}	
	.we_buying ul li a {
		padding: 0 20px 0 8%;
	}	
	.container h2{
		font-size: 38px;
		margin: 60px 0 50px;
	}
	.container h2 em{
		font-size: 38px;
	}	
	/*****************************/
	.top_footer h2{
		font-size: 35px;
		letter-spacing: 2px;
		margin-top: 70px;
	}
	.top_footer .line{
		margin: 20px auto;
	}
	.top_footer  p{
		font-size: 18px;
	}
	.top_footer .wraper-button{
		margin: 50px 0 60px;
	}
	.top_footer .wraper-button button{
		max-width: 220px;
		width: 100%;
		height: 48px;
		border-width: 2px;
	}	

}

@media only screen and ( max-width:500px ){
	.work_inner .items_buy{
		position: absolute;
		left: -260px;
		min-width: 240px;
		background: #fff;
		z-index: 100;
		height: 100%;
	}
	.work_inner .items_buy li a .image{
		display: inline-block;
		width: 55px;
	}
	.work_inner .items_buy li a img{
		transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
	}	
	/*****************/
	.work_inner  .items_tovar{
		max-width: 100%;
		padding-top: 50px;
	}	
	.work_inner .shadow{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(58, 58, 58,0.9);
		z-index: 99;
		display: none;
	}
	.work_inner .items_buy.active{
		left: 0;
	}
	.button_menu_inner{
		display: block;
	}
}

@media only screen and ( max-width:480px ){
	/****************************/
	.top-slider  .content{
		width: 100%;
		margin-top: 80px;
		z-index: 1000;
		padding-top:90px;
	}
	.top-slider  .content h1{
		font-size: 25px;
		padding: 0 30px;
		letter-spacing: 3px;
	}
	.top-slider  .content p{
		font-size: 15px;
		padding: 0 50px; 
		margin:40px auto 0;
	}

	.top-slider  .slick-slide{
		min-height: 550px;
	}
	.wraper-top-slider .cont-slider span img{
		width: 18px; 
	}
	.wraper-top-slider .cont-slider span.prev{
		left: 10px;
	}
	.wraper-top-slider .cont-slider span.next{
		right: 10px;
	}	
	/***********************/
	.we_buying ul li{
		width: 100%;
		min-height: 90px;
	}
	
	.we_buying ul li:nth-child(3n),	
	.we_buying ul li:nth-child(4n),
	.we_buying ul li{
		border-right: 0px solid #d9d9d9!important;
	}		
	.we_buying li a .image{
		width: 50px;
		margin-right: 6px;
	}	
	.we_buying ul li a h4{
		font-size: 15px;
		max-width: 62%;
	}	
	.we_buying ul li a {
		padding: 0 20px 0 8%;
		min-height: 90px;
		line-height: 90px; 		
	}	
	.container h2{
		font-size: 32px;
		margin: 50px 0 40px;
		letter-spacing: 2px;
	}
	.container h2 em{
		font-size: 32px;
		letter-spacing: 2px;
	}	
	/***************************/

	.list-news li .date{
		font-size: 2.7vw;
	}
	.list-news .wrap-info{
		left: 7vw;
		right: 3%;
		bottom: 5vw;
	}
	.list-news li h3{
		font-size: 5.2vw;
		margin: 3vw 0;
		line-height: 6vw;
	}
	.list-news li h4{
		font-size: 3.3vw;
		margin-bottom: 3vw;
	} 
	.list-news li .new{
		font-size: 3.3vw;
	}
	.list-news li .new em{
		font-size: 3.4vw;
	}
	.list-news .wrap-see .see{
		font-size: 3.3vw;
		margin-left: 5px;
	}	
	.list-news li .image img{
		min-height: 250px;
	}
	/******************/
	.top_footer .wraper-button button{
		margin-right: 0;
	}
	.top_footer h2{
		font-size: 32px;
	}
	/****************/
	.bottom_footer .left,
	.bottom_footer .right{
		width: 100%;
	}	
	.bottom_footer .right{
		text-align: center;
	}
	.bottom_footer .logo{
		display: block;
		width: 100%;
		text-align: center;
	}
	ul.nav_footer {
		 text-align: center;
		margin-bottom: 45px;
	}	
	.bottom_footer .item{
		text-align: center;
		max-width: 100%;
		margin: 0  0 30px;
	}
	.bottom_footer .item:nth-child(2){
		margin-bottom: 0;
	}
	.bottom_footer .item .title{
		margin-bottom: 10px;
	}
	.modal_callback .close {
		position: absolute;
		right: 0px;
		top: -45px;
	}
	.modal_callback .wp_sp{
		max-width: 300px;
		height: 140px!important;
	}	
	.your_cost {
		padding: 50px 20px;
	}	
 	
}

@media only screen and ( max-width:370px ){
	/***************************/

	.list-news li .date{
		font-size: 3.2vw;
	}
	.list-news .wrap-info{
		left: 7vw;
		right: 3%;
		bottom: 5vw;
	}
	.list-news li h3{
		font-size: 6vw;
		margin: 4vw 0;
		line-height: 6.7vw;
		max-width: 100%;
	}
	.list-news li h4{
		font-size: 3.79vw;
		margin-bottom: 4vw;
	} 
	.list-news li .new{
		font-size: 3.8vw;
	}
	.list-news li .new em{
		font-size: 3.8vw;
	}
	.list-news .wrap-see .see{
		font-size: 3.8vw;
		margin-left: 5px;
	}	
	.list-news li .image img{
		min-height: 250px;
	}	
	.copyright span.callback{
		float: none;
		margin:10px auto 0;
	}	
	.copyright span{
		display: table;
		margin: auto;
	}
}







@media only screen and ( min-width:1366px ){
	.list-news li .date{
		font-size: 12px;
	}
	.list-news .wrap-info{
		left: 50px;
		right: 3%;
		bottom: 25px;
	}
	.list-news li h3{
		font-size: 32px;
		margin: 25px 0;
		line-height:normal;
	}
	.list-news li h4,
	.list-news li .new em,
	.list-news .wrap-see .see,
	.list-news li .new	{
		font-size: 17.5px;
	} 	
}
@media only screen and ( min-width:850px ){
	.nav-menu{
		display: inline-block!important;
	}
}



@media only screen and ( max-height:550px ) and (max-width:640px){
	.modal_callback .wraper{
		height: 230px;
	}	
	.modal_callsback form input{
		width: 285px;
		height: 40px;
	}
	.modal_callback textarea{
		width: 280px;
		height: 120px;
		margin-bottom: 20px;
	}
	.modal_callback .wraper h3{
		font-size: 20px;
	}
	.modal_callback button{
		height: 40px;
	}
	.modal_callback .wp_write{
		max-width: 290px;
		width: 100%;
		height: 360px;
	}
}